<nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
  
  <div class="container">

    <a class="navbar-brand">
      <i class="bi bi-headset"></i>
      Marco <strong>ACR</strong>
    </a>

    <div class="d-flex">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">¿Quien soy?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Proyectos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="quien-soy py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 text-center">
        <img src="/assets/img/Developer.png" alt="Soy_Desarrollador" class="img-fluid mb-4 mb-md-0">
      </div>
      <div class="col-12 col-md-6 text-center text-md-left align-self-md-center ">
        <h1 class="display-4 font-weight-bold text-primary">¿Quien soy?</h1> 
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse nisi adipisci provident eius enim id eos fugit odit facere vitae. Sit sequi praesentium, officiis rerum dicta. Deserunt ipsam officia neque!</p> 
        <a href="#" class="btn btn-primary btn-lg">Leér más</a> 
      </div>
    </div>
  </div>
</section>